<launch>
	<!-- 
	<node name="battery_monitor" pkg="sanitation_control" type="battery_monitor.py"  output="screen"/>
	<node name="solution_level" pkg="sanitation_control" type="solution_level.py"  output="screen"/>
	--> 

	<node name="bat_and_sol" pkg="sanitation_control" type="bat_and_sol_monitor.py"  output="screen"/>
	<node name="goal_control" pkg="sanitation_control" type="goal_control.py"  output="screen"/>
	<node name="send_nav_goals_red" pkg="sanitation_control" type="send_nav_goals_red.py"  output="screen"/>
	<!--- <node name="twilio_service" pkg="sanitation_control" type="twilio_service.py"  output="screen"/>	-->
</launch>
